.AppointmentBox {
    width: 100%;
    height: 400px;
    margin: auto;
    
    table {
        > tbody {
            > tr {
                margin-top: 2px;
                margin-bottom: 2px;
            }   
        }   
    } 
}