@import '../util.scss';

.header {
    display: flex;
    flex-direction: row;

    flex-shrink: 0;
    background: #ECEFF1;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;

    align-items: center;
}

.header a {
    display: block;
    color: black;

    font-weight: bold;
}

.right {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left:15px;
    padding-top: 10px;
}

.list-component {
    vertical-align: baseline;
    margin-left: 20px;

    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.logo-left {
    font-size: 50px;
}

.btn-img {
    @include image-button(#ECEFF1, black);
    
    em {
        font-style: normal;
    }
}

// .modal-btn {
//     @include image-button('indigo', 'url')
// }