@import '../util.scss';



.modal-wrapper {
    display: flex;
    z-index: 1050;

    @include modal(1s);
}

.modal-btn-img {
    @include image-button(white, black);

    em {
        font-style: normal;
    }
}