@import '../../util.scss';

.Map {
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    margin: 0px
=======
    width: 300px;
    height: 400px;
    margin: auto;
    display: flex;
    z-index: 10;
>>>>>>> 57b04b5... Modal
}

.MapContainer {
    width: 100%;
    height: 600px;

    display: table;
    margin-left:auto;
    margin-right:auto;
}

.Button {
    width: 200px;
    height: 50px;

    @include button('indigo')
}

.TextBox{
    width: 500px;
    height: 300px;
    margin: auto;
}

