.Map {
    width: 1000px;
    height: 800px;
    margin: auto;
}

.MapContainer {
    width: 1000px;
    height: 800px;
    margin: auto;
}

.Button {
    width : 200px;
    height : 50px;
    float: right;
}

.TextBox{
    width: 500px;
    height: 300px;
    margin: auto;
}